@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Libre Franklin", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 650px;
}

.hero-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .hero-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        p {
            color: #969696;
            font-size: 12px;
            font-weight: 300;
        }
        .logo {
            width: 90px;
            height: 40px;
            object-fit: contain;
        }
        form {
            position: relative;
            input#email {
                border: 1px solid #B8C7ED;
                padding: 18px 30px;
                width: 420px;
                border-radius: 48px;
                font-family: "Libre Franklin", sans-serif;
                font-size: 16px;
                line-height: 20px;
                color: black;
                outline: none;
            }
            input[type="email"]::placeholder {
                color: #B8C7ED;
            }

            input#email:active {
                border: 1px solid #B8C7ED;
                color: black;
            }
            input#email:focus {
                border: 1px solid #B8C7ED !important;
                color: black;
            }
            
            
            button#submitButton {
                padding: 18px 62px;
                border: 1px solid #4C7BF3;
                border-radius: 48px;
                background-color: #4C7BF3;
                color: white;
                font-family: "Libre Franklin", sans-serif;
                font-size: 16px;
                font-weight: 600;
                outline: none;
                cursor: pointer;
            }
            .validation-message {
                position: absolute;
                left: 30px;
                top: 65px;
            }
        }
        }
        .text-inner {
            display: flex;
            flex-direction: column;
            gap: 16px;
            h1 {
                font-size: 48px;
                line-height: 60px;
                color: #969696;
                font-weight: 300;
            }
            .title-span {
                color: #15202A;
                font-weight: 700;
            }
            p {
                font-size: 20px;
                font-weight: 300;
                color: #15202A;
            }
        }
        .ilustration {
            width: 640px;
            height: 383px;
        }
        .social-icons {
            display: flex;
            gap: 12px;
            svg {
                width: 32px;
                height: 32px;
                object-fit: cover;
            }
        }
    }


